/*estilos de imagen de fonto y de formulario*/
/*#imagenFondo{
    position: absolute;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: auto;
    flex-flow: row;
    max-width: 100%;
    background-image: url(../img/fondo\ auto\ form.png);
}*/

#textoFormulario{
    align-items: flex-start;
    display: flex;
    position: center;
    margin: 0 auto;
    margin-top: 30;
    display: inline;
    flex-direction: row;
}

.logoNav{
    width: 35%;
}
#tamanoImg{
    width: 35%;
}
#listaFooter{
    list-style: none;
}
.fondoPrueba{
    background: url(/img/fondo\ auto\ form.png);
    background-size: cover;
}

.fondoAcercaDe{
    background-image: url(/img/acercaDe.jpg);
    background-repeat:no-repeat ;
    background-size:cover ;
    height: 50vh;
}

@media (max-width: 576px){
    .fondoAcercaDe{
        height: 60vh;
    }
    #tamanoImg{
        width: 75%;
    }
}


@media (min-width:576px) and (max-width: 768px){
    .fondoAcercaDe{
        height: 30vh;
    }
    #tamanoImg{
        width: 65%;
    }
}
