@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1,h2,h3,h4,h5{
    font-family: 'Bebas Neue', cursive;
}

#fondoLogin{
    background-image: url(/img/bg-login.png);
}
.posicionLogin{
    padding: 100px 0px;
}
.anchoLogin{
    width: 27%;
    border-radius: 40px;
}
.TamanoFuenteForm{
    font-size: 12px;
}
/* #bg-inicio{
    background-image: url(/img/bg-inicio.png);
} */
.altoImagen{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

#textoFormulario{
    align-items: flex-start;
    display: flex;
    position: center;
    margin: 0 auto;
    margin-top: 30;
    display: inline;
    flex-direction: row;
}

.logoNav{
    width: 37%;
    text-align: center;
}
.paddingsFooter{
    padding: 0px;
}
.avatares{
    border-radius:50%;
    border: solid 2px rgb(5, 5, 5);
    width: 200px;
}
#tamanoImg{
    width: 35%;
}
#imgFooter{
    width: 65%;
}

#listaFooter{
    list-style: none;
    padding: 0px;
}
.fondoPrueba{
    background: url(/img/fondo\ auto\ form.png);
    background-size: cover;
}
#posicionLogoNav{
    margin-left: 60px;
}
#textoImg{
    font-weight: 400;
    color: rgb(255, 246, 246);
    padding-top: 70px;
    padding-left: 150px;
}
.fondoAcercaDe{
    background-image: url(/img/acercaDe.jpg);
    background-repeat:no-repeat ;
    background-size:cover ;
    height: 50vh;
}
.posicionError{
    width: 70%;
    position: relative;
    top: 150px;
    left: 310px;
}
#google{
    width: 50px;
    height: 50px;
    background:#DB4437;
    border-radius: 50%;
    color:#DB4437;
    display: flex;
    justify-content: center;
    align-items: center;
}
#twitter{
    width: 50px;
    height: 50px;
    background: #00acee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#facebook{
    width: 50px;
    height: 50px;
    background: #3b5998;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#instagram{
    width: 50px;
    height: 50px;
    background:#F56040;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 576px){
    .fondoAcercaDe{
        height: 50vh;
    }
    #tamanoImg{
        width: 99%;
    }
    #imgFooter{
        width: 65%;
    }
    #textoImg{
        color: rgb(3, 3, 3);
        text-align: center;
        position: relative;
        right: 70px;
        top: 10px;
        
        
    }
    .logoNav{
        width: 32%;
    }
    .posicionLogin{
        padding: 60px 0px;
    }
    .anchoLogin{
        width: 90%;
    }

    .marginTel{
        margin: 30px 0px;
    }
}


@media (min-width:577px) and (max-width: 768px){
    .fondoAcercaDe{
        height: 30vh;
    }
    #tamanoImg{
        width: 50%;
    }
    #imgFooter{
        width: 95%;
    }
    #textoImg{
        color: rgb(0, 0, 0);
        padding-top: 70px;
        padding-left: 60px;
        text-align: left;
    }
    .logoNav{
        width: 60%;
    }

    .posicionLogin{
        padding: 100px 0px;
    }
    .anchoLogin{
        width: 50%;
    }
    #altoCard{
        height: 490px;
    }

}
@media (min-width: 769px){
    #altoCard{
        height: 490px;
    }

}
