#imagenFondo{
    position: absolute;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: auto;
    flex-flow: row;
    max-width: 100%;
    background-image: url(../img/fondo\ auto\ form.png);
}

#textoFormulario{
    align-items: flex-start;
    display: flex;
    position: center;
    margin: 0 auto;
    margin-top: 30;
    display: inline;
    flex-direction: row;
    text-align: center;
    z-index: 4;
    color: white;
}